.map {
    height: 500px;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px black;
}

.map .leaflet-container {
    height: 100%;
}

